<%include _header1 %>
    <div class="page-header">
        <h1>  Add to <strong><big><%= currentUser.username%></strong></big>'s Work :</h1></div>



    <form action="/addwork" method="POST" enctype="multipart/form-data">

        <label> Screenshot File : </label>
        <input type="file" name="image">
        <br>
        <hr>



        <label> URL/Repository link: </label>
        <input class="form-control" type="text" name="url" placeholder="please enter Repository Link ">
        <br>
        <hr>




        <label> Extra Details : </label>
        <input class="form-control" type="text" name="details" place holder="please enter Extra Link :">
        <br>
        <hr>


        <button class="btn btn-primary" type="submit"> Upload Work </button>



    </form>

    <%include _footer1 %>
