<% include _header1 %>



    <%if(currentUser){%>
        <h3> Hello 	<strong> <%= currentUser.username%></strong> how is your day :D   </h3>
        <hr>
        <%} %>


 

            <%include _footer1 %>
